<div class="fixed">
    <header>
        <!-- cabecera -->
        <div class="wrapperh">
            <div class="logo">
                <!-- name.box -->
                <a class="header-a" href="index.html">{{nombretitle}}</a>
            </div>
            <div class="login">
                <!-- login.box -->
                <a class="header-a" href="#">{{logintitle}}</a>
            </div>
        </div>
    </header>
    <nav>
        <!-- menu navegador -->
        <div class="wrappern">
            <a class="navb" href="#">{{quienestitle}}</a>
            <a class="navb" href="#">{{cursostitle}}</a>
            <a class="navb" href="#">{{noticiastitle}}</a>
            <a class="navb" href="#">{{contactotitle}}</a>
            <a class="navb" href="#">{{apptitle}}</a>
        </div>
    </nav>
</div>