<nav>
    <div class="flexx">
        <div class="logo">
            <img src="./assets/img/logoprueba.jpg">
        </div>
        <ul>
            <li><a class="active" href="home">{{iniciotitle}}</a></li>
            <li><a href="quienesSomos">{{quienestitle}}</a></li>
            <li><a href="cursos">{{cursostitle}}</a></li>
            <li><a href="noticias">{{noticiastitle}}</a></li>
            <li><a href="contacto">{{contactotitle}}</a></li>
            <li><a href="app">{{apptitle}}</a></li>
        </ul>
        <div class="login">
            <a href="#">{{logintitle}}</a>
        </div>
    </div>
</nav>