nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}

.flexx {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav.black {
    background: #252932;
    height: 80px;
    padding: 10px 50px;
}

nav .logo {
    margin-right: auto;
}

nav .logo img {
    height: 80px;
    transition: .5s;
}

nav.black .logo img {
    height: 60px;
}

nav .login {
    margin-left: auto;
}

nav .login a {
    line-height: 80px;
    transition: .5s;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #4d4d4d;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

nav ul li a.active,
nav ul li a:hover {
    background: rgb(218, 122, 33);
    color: #fff;
    font-weight: bold;
}