<section class="contenido">
    <div class="titulo">
        <h1>Conócenos..</h1>
    </div>
    <div class="flexx">
        <div class="profesor1">
            <img src="./assets/img/user1.png">
        </div>
        <div class="profesor2">
            <img src="./assets/img/user1.png">
        </div>
    </div>
    <div class="flexx">
        <div class="profesor1">
            <div class="content">
                <h1>Adrián González Romero</h1>
                <p>Profesor de la rama de letras</p>
            </div>
        </div>
        <div class="profesor2">
            <div class="content">
                <h1>Somos Fulanitodetal</h1>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
                    desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente
                    igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
                    versiones de Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</section>