<html>

<body>
    <div class="fixed">
        <header>
            <!-- cabecera -->
            <div class="wrapper2">
                <div class="logo">
                    <!-- name.box -->
                    <a href="index.html">BOX_LOGO</a>
                </div>
                <div class="login">
                    <!-- login.box -->
                    <a href="#">BOX_LOGIN</a>
                </div>
            </div>
        </header>
        <nav>
            <!-- menu navegador -->
            <div class="wrapper">
                <a class="bordersnav" href="#">QUIENES SOMOS</a>
                <a class="bordersnav" href="#">CURSOS</a>
                <a class="bordersnav" href="#">NOTICIAS</a>
                <a class="bordersnav" href="#">CONTACTO</a>
                <a class="bordersnav" href="#">APP</a>
            </div>
        </nav>
    </div>
</body>

</html>