footer {
    width: 100%;
    overflow: hidden;
    background: #252932;
    position: fixed;
    bottom: 0px;
}

footer a {
    display: inline-block;
    text-decoration: none !important;
    padding-left: 100px;
    padding-right: 100px;
    color: #f2f2f2 !important;
    font-size: 10px;
    line-height: 40px;
}

.footerb:hover {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.wrapperf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}